<div class="bg-gray-300 my-8 py-8 text-gray-800 override-body-constraint component--callout{% if type === 'warning' %} theme-warning{% endif %}">
  <div class="block max-w-2xl px-4 md:mx-auto">

    {% if type %}
  <span class="block mb-1 uppercase text-xs text-gray-600 font-bold component--callout--label">
    {{ type }}
  </span>
    {% endif %}

    {{ children | safe }}
  </div>
</div>
