<div class="component--event-card layout-{{ layout }} {{ wrapperClasses }}">
  {# {% if image %}
    <div class="event-card--image-wrapper">
      {{ image | safe }}
    </div>
  {% endif %} #}
  {% if layout !== "compact" %}
    <div class="{{ contentClasses }}">
      {% if topics.length > 0 %}
        <div class="mb-4 text-sm">
          {{ topics | safe }}
        </div>
      {% endif %}
      <h2 class="text-2xl mb-1">
        <a href="{{ url }}" class="link-transition">
          {{ data.title }}
        </a>
      </h2>
      {% if data.description %}
        <p class="mb-6">{{ data.description }}</p>
      {% endif %}
      <span class="block text-gray-blue font-sans text-sm">
        {{ data.display_date }}
      </span>
    </div>
  {% endif %}
</div>
