# ---------------------------------------- | Shared

.DS_Store
.envrc
node_modules

# ---------------------------------------- | SCD Site

# Build files
/dist

# Temp CSS directory
/src/css

# Netlify CLI Config
/.netlify/state.json
