<span
  id="typewriter-wrapper"
  class="component--typewriter--wrapper"
  data-blank-duration="{{ blankDuration }}"
  data-character-duration="{{ characterDuration }}"
  data-highlight-duration="{{ highlightDuration }}"
  data-texts="{{ texts }}"
  data-view-duration="{{ viewDuration }}"
>
  <span id="typewriter-text" class="inline-block"></span>
  <span id="typewriter-cursor" class="component--typewriter--cursor"></span>
</span>
