:root {
  /* --breakpoint-sm: 640px; */
  /* --breakpoint-md: 768px; */
  /* --breakpoint-lg: 1024px; */
  /* --breakpoint-xl: 1280px; */

  --color-gray-100: #eef1f5;
  --color-gray-200: #eaeced;
  --color-gray-300: #e4e8ed;
  --color-gray-400: #c6cfd4;
  --color-gray-500: #a0b0b8;
  --color-gray-600: #76858d;
  --color-gray-700: #4f6068;
  --color-gray-800: #1b3846;
  --color-gray-900: #051c28;

  --color-black: var(--color-gray-900);
  --color-blue-dark: #1d4a8f;
  --color-blue: #2260bf;
  --color-blue-a50: #2260bf50;
  --color-gray-blue: #4b6a8a;
  --color-green: #007785;
  --color-lime: #9ce736;
  --color-orange: #ff6b00;
  --color-pink: #eea2bf;
  --color-white: #ffffff;
  --color-yellow: #ffd445;

  --color-callout-warning-bg: #fae8ac;
  --color-callout-warning-label: #bf9404;

  --color-code-block-bg: #1e1e3f;
  --color-code-block-bg: #1e1e3f;
}
