<title>{{ title }}</title>

<meta name="description" content="{{ description }}">
<meta name="image" content="{{ image }}">

<meta property="og:description" content="{{ og.description }}">
<meta property="og:image" content="{{ og.image }}">
<meta property="og:title" content="{{ og.title }}">
<meta property="og:type" content="{{ og.type }}">
<meta property="og:url" content="{{ url }}">

<meta property="twitter:card" content="{{ twitter.card }}">
<meta property="twitter:description" content="{{ twitter.description }}">
<meta property="twitter:image" content="{{ twitter.image }}">
<meta property="twitter:title" content="{{ twitter.title }}">
