<div class="bg-gray-300 my-6 py-6 px-4 text-gray-800 component--callout{% if type === 'warning' %} theme-warning{% endif %}">
  <div class="block max-w-2xl mx-auto">

    {% if type %}
  <span class="block mb-1 uppercase text-xs text-gray-600 font-bold component--callout--label">
    {{ type }}
  </span>
    {% endif %}

    {{ children | safe }}
  </div>
</div>
