.layout--post--body {
  > *:not([class*="language-"]) {
    @apply max-w-2xl
      mx-4;
  }

  pre[class*="language-"] {
    @apply my-8
      px-4
      py-8;
  }

  code[class*="language-"] {
    @apply block
      max-w-4xl
      mx-auto
      text-sm;

    line-height: 1.666;
  }

  h2 {
    @apply mb-1
      mt-10
      text-3xl;
  }

  a {
    border-bottom: 1px dotted var(--color-green);
  }

  blockquote {
    @apply italic
      mb-4
      p-4
      text-gray-dark
      text-xl;

    background-color: #e4e8ed;
    border-left: 0.4rem solid #d8dde3;
  }
}

/* ---------------------------------------- | Medium */

@screen md {
  .layout--post--body {
    > *:not([class*="language-"]) {
      @apply mx-auto;
    }

    pre[class*="language-"] {
      @apply px-8;
    }

    code[class*="language-"] {
      font-size: 1rem;
    }
  }
}
