{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="py-24">
  <div class="container max-w-4xl">
    <h1 class="text-4xl">{{ title }}</h1>
    {% if description %}
      <p class="text-2xl">{{ description }}</p>
    {% endif %}
    {% if tags.length > 0 %}
      <div class="mt-4 text-sm">
        {% for tag in hashtags %}
          {% tag tag=tag %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<div class="py-24 bg-gray-light">
  <div class="layout--post--body text-lg">
    {{ content | safe }}
  </div>
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
