<div class="component--video-tutorial {% if classes %}{{ classes }}{% else %}my-6{% endif %}">
  <div class="h-0 overflow-hidden relative" style="padding-bottom: 56.25%">
    <iframe
      width="560"
      height="315"
      src="{{ src }}?rel=0"
      title="{{ title }}"
      class="absolute h-full left-0 top-0 w-full"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
