<footer>
  {% if not footer.hide_newsletter %}
    {% newsletter_cta layout="footer" %}
  {% endif %}


  <div class="bg-black text-white pb-12 pt-24">
    <div class="container max-w-4xl md:flex justify-between text-center md:text-left">
      <div class="md:max-w-xs mb-8">
        <a href="/" class="inline-block w-12 mb-4">
          {% svg "seancdavis-logo-white" %}
          <span class="visible-hidden">Home</span>
        </a>
        <div class="text-sm max-w-sm mx-auto md:mx-0 links-inherit-color links-underline">
          {% markdown %}
  This site was created and is maintained by [Sean C Davis](https://twitter.com/seancdavis29). It was initially designed by [Matt Willett](https://mattwillettdesign.com/).

  The stack is [Eleventy](https://www.11ty.dev/), [Tailwind CSS](https://tailwindcss.com/), and loads of other open-source software. The code is built, deployed, and hosted with help from [GitHub](https://github.com/) and [Netlify](https://www.netlify.com/).
          {% endmarkdown %}
        </div>
      </div>
      <div class="md:flex">
        {% for menu in footer_menus %}
          <div class="md:ml-8 mb-6 md:mb-0">
            <span class="block mb-2 font-sans uppercase font-bold text-xs opacity-50">
              {{ menu.heading }}
            </span>
            <ul class="ml-0">
              {% for link in menu.links %}
                <li class="block">
                  <a href="{{ link.url }}" class="text-white hover:opacity-75 transition-all duration-300">
                    {{ link.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
