<footer>
  <div class="footer--newsletter text-white py-12 max-w-5xl mx-auto shadow-md rounded-sm bg-green-light relative z-10">
    <div class="container max-w-2xl text-center">
      <h2 class="text-3xl uppercase mb-2">The Spinneret</h2>
      <p class="max-w-md mx-auto">
        Sign up to receive one email every month with new articles, tools, and
        references I've discovered.
      </p>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/seancdavis29"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/seancdavis29', 'popupwindow')"
        class="embeddable-buttondown-form mb-4"
      >
        <input type="hidden" value="1" name="embed"></input>

        <span class="sm:flex justify-center">
          <input
            type="email"
            name="email"
            id="bd-email"
            placeholder="Enter your email"
            aria-label="Email Address"
            required
            class="
              bg-transparent
              border-black
              border-2
              mb-2
              mr-2
              placeholder-gray-50
              py-1
              px-2
              text-white
              w-64
              sm:mb-0
            "
          >
          <input
            type="submit"
            value="Subscribe"
            class="
              bg-black
              border-2
              border-black
              cursor-pointer
              duration-300
              font-sans
              inline-block
              px-6
              py-1
              relative
              text-sm
              text-white
              transition-all
              uppercase
              hover:bg-gray-800"
            ></input>
        </span>
      </form>

      <p class="text-sm">
        <a href="/topic/spinneret" class="underline text-black">
          Read past issues.
        </a>
      </p>
    </div>
  </div>


  <div class="bg-black text-white pb-12 pt-24">
    <div class="container max-w-4xl md:flex justify-between text-center md:text-left">
      <div class="md:max-w-xs mb-8">
        <a href="/" class="inline-block w-12 mb-4">
          {% svg "seancdavis-logo-white" %}
          <span class="visible-hidden">Home</span>
        </a>
        <div class="text-sm max-w-sm mx-auto md:mx-0 links-inherit-color links-underline">
          {% markdown %}
  This site was created and is maintained by [Sean C Davis](https://twitter.com/seancdavis29). It was designed by [Matt Willett](https://mattwillettdesign.com/).

  The stack is [Eleventy](https://www.11ty.dev/), [Tailwind CSS](https://tailwindcss.com/), and loads of other open-source software. The code is built, deployed, and hosted with help from [GitHub](https://github.com/) and [Netlify](https://www.netlify.com/).

  And here's [a super important legal document](/license) Sean made up.
          {% endmarkdown %}
        </div>
      </div>
      <div class="md:flex">
        {% for menu in footer_menus %}
          <div class="md:ml-8 mb-6 md:mb-0">
            <span class="block mb-2 font-sans uppercase font-bold text-xs opacity-50">
              {{ menu.heading }}
            </span>
            <ul class="ml-0">
              {% for link in menu.links %}
                <li class="block">
                  <a href="{{ link.url }}" class="text-white hover:opacity-75 transition-all duration-300">
                    {{ link.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
