<header class="relative z-20 py-3">
  <div class="container flex items-center justify-between max-w-5xl">
    <a href="/" class="inline-block w-12">
      {% svg "seancdavis-logo" %}
      <span class="visible-hidden">Home</span>
    </a>

    {# --- Desktop Nav --- #}

    <ul class="items-center hidden m-0 space-x-3 list-none lg:flex">
      {% for item in header_menu %}
        <li class="m-0">
          <a href="{{ item.url }}" class="layout--header--desktop-link">
            {% if item.icon %}
              <span class="block w-6">{% svg item.icon %}</span>
              <span class="visible-hidden">{{ item.label }}</span>
            {% else %}
              {{ item.label }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>

    {# --- Mobile Nav Trigger --- #}

    <button class="inline-block w-8 text-right lg:hidden text-gray-blue" onclick="App.MobileMenu.toggle(event)">
      {% svg "menu" %}
      <span class="visible-hidden">Open Navigation</span>
    </button>

    {# --- Mobile Nav --- #}

    <div class="layout--header--mobile-menu" id="layout--header--mobile-menu">
      <div class="container layout--header--mobile-header">
        <a href="/" class="inline-block w-12">
          {% svg "seancdavis-logo-white" %}
          <span class="visible-hidden">Home</span>
        </a>
        <button class="w-8 text-right text-white opacity-50" onclick="App.MobileMenu.toggle(event)">
          {% svg "cancel" %}
          <span class="visible-hidden">Close Navigation</span>
        </button>
      </div>

      <ul class="container layout--header--mobile-link-list">
        {% for item in header_menu %}
          <li class="mb-0">
            <a href="{{ item.url }}" class="layout--header--mobile-link">
              {% if item.icon %}
                <span class="inline-block w-6 mr-3">{% svg item.icon %}</span>
                <span class="inline-block">{{ item.label }}</span>
              {% else %}
                {{ item.label }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</header>
