<a
  href="{{ url }}"
  class="
    bg-{{ color }}
    text-{{ textColor }}
    p-1
    inline-block
    leading-none
    transition-all
    duration-300
    hover:opacity-75
  "
>
  {{ label }}
</a>
