<div class="component--post-card max-w-xl bg-white shadow-sm {{ classes }}">
  {% if image %}
    <div class="post-card--image-wrapper">
      {{ image | safe }}
    </div>
  {% endif %}
  <div class="p-4">
    {% if topics.length > 0 %}
      <div class="mb-4 text-sm">
        {{ topics | safe }}
      </div>
    {% endif %}
    <h2 class="text-2xl mb-1">
      <a href="{{ url }}" class="link-transition">
        {{ data.title }}
      </a>
    </h2>
    {% if data.description %}
      <p class="mb-6 post-card--description">{{ data.description }}</p>
    {% endif %}
    {% if author %}
      {{ author | safe }}
    {% endif %}
    <span class="block text-gray-blue font-sans text-sm">
      {{ date.toLocaleDateString("en-US", { day: "2-digit", month: "short", year: "numeric" }) }}
    </span>
  </div>
</div>
