@screen sm {
  .component--post-card.layout-horizontal,
  .component--post-card.sm\:layout-horizontal {
    @apply grid;

    grid-template-columns: 12rem 1fr;
  }
}

@screen md {
  .component--post-card.md\:layout-expanded {
    @apply block;
  }

  .component--post-card.md\:layout-horizontal {
    @apply grid;

    grid-template-columns: 12rem 1fr;
  }
}

@screen lg {
  .component--post-card.lg\:layout-expanded {
    @apply block;
  }

  .component--post-card.lg\:layout-horizontal {
    @apply grid;

    grid-template-columns: 12rem 1fr;
  }
}

.post-card--image-wrapper img {
  @apply h-full
    object-center
    object-cover;
}

.post-card--description {
  @apply mb-6;
}

/* Flat cards pull meta closer to description. */
.component--post-card.layout-flat .post-card--description {
  @apply mb-4;
}

/* Compact cards pull meta even closer to description. */
.component--post-card.layout-compact .post-card--description {
  @apply mb-2;
}

/* Images get capped at a specific height, unless horizontal layout. */
.component--post-card:not(.layout-horizontal) .post-card--image-wrapper img {
  max-height: 18.875rem;
}
