<div class="component--post-card layout-{{ layout }} {{ wrapperClasses }}">
  {% if image %}
    <div class="post-card--image-wrapper">
      {{ image | safe }}
    </div>
  {% endif %}
  <div class="{{ contentClasses }}">
    {% if topics.length > 0 %}
      <div class="mb-4 text-sm">
        {{ topics | safe }}
      </div>
    {% endif %}
    <h2 class="text-2xl mb-1">
      <a href="{{ url }}" class="link-transition">
        {{ data.title }}
      </a>
    </h2>
    {% if data.description %}
      <p class="post-card--description">{{ data.description }}</p>
    {% endif %}
    <div class="flex items-center">
      {% if contributor %}
        {{ contributor | safe }}
        <div class="mx-2 text-gray-200">&bull;</div>
      {% endif %}
      <span class="block text-gray-blue text-sm">
        {{ date.toLocaleDateString("en-US", { day: "2-digit", month: "short", year: "numeric" }) }}
      </span>
    </div>
  </div>
</div>
