:root {
  @apply font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
}

a {
  @apply text-green;
}

p {
  @apply mb-4;

  &:last-child {
    @apply mb-0;
  }
}

ol {
  @apply mb-4
    pl-5;

  list-style-type: decimal;

  &:last-child {
    @apply mb-0;
  }
}

li {
  @apply mb-4;

  &:last-child {
    @apply mb-0;
  }
}

img,
svg {
  @apply h-auto
    w-full;
}

code {
  @apply align-middle
    bg-gray-300
    inline-block
    px-2
    py-1
    rounded-md
    text-gray-800
    text-xs;

  margin-top: -2px;
}

hr {
  @apply my-8;

  border-width: 2px;
  border-color: #d3d6db;
}
