# Build files
dist

# Generated asset files
src/assets/css/styles.css
src/assets/js/bundle.js

# Netlify CLI Config
.netlify/state.json

# Local Netlify folder
.netlify

# Lighthouse Reports
.lighthouseci/
