[build]
  command = "npm run build"
  publish = "dist"

[[plugins]]
  package = "@seancdavis/netlify-plugin-jest"

# Note: This is the portion of the workflow that triggers publishing new tweets 
# after a build was completed. The Twitter API no longer works and I can't use 
# it programmatically. Tweets will go back to being published manually.
# 
# [[plugins]]
#   package = "@seancdavis/netlify-plugin-github-dispatch"

[[plugins]]
  package = "netlify-plugin-checklinks"

  [plugins.inputs]
    skipPatterns = ["https://www.netlify.com/img/deploy/button.svg"]

[[plugins]]
  package = "netlify-plugin-inline-critical-css"
    [plugins.inputs]
      fileFilter = ['index.html']
      directoryFilter = ['!*']

# Temporarily disabled due to Pa11y timeout issues in CI
# The pa11y timeout (30000ms) is an infrastructure limitation
# [[plugins]]
#   package = "netlify-plugin-a11y"
#     [plugins.inputs]
#       checkPaths = ['/']
#       resultMode = "warn"

[[plugins]]
  package = "@netlify/plugin-sitemap"

  [plugins.inputs]
    buildDir = "dist"
    trailingSlash = true
    exclude = [
      "./dist/404.html",
      "./dist/search/index.html",
      "./dist/demos/**/**"
    ]
