<div>
  <h2 class="mb-2">{{ data.title }}</h2>

  <div class="text-gray-blue font-sans text-sm inline-flex mb-4">
    {% if sources.website %}
      <a href="{{ sources.website.url }}" class="inline-flex items-center text-gray-blue">
        <span class="mr-1 inline-block w-4">
          {{ sources.website.icon | safe }}
        </span>
        <span>{{ sources.website.text }}</span>
      </a>
      {% if sources.twitter or sources.github %}
        <span class="mx-2">&bull;</span>
      {% endif %}
    {% endif %}
    {% if sources.twitter %}
      <a href="{{ sources.twitter.url }}" class="inline-flex items-center text-gray-blue">
        <span class="mr-1 inline-block w-4">
          {{ sources.twitter.icon | safe }}
        </span>
        <span>{{ sources.twitter.text }}</span>
      </a>
      {% if sources.github %}
        <span class="mx-2">&bull;</span>
      {% endif %}
    {% endif %}
    {% if sources.github %}
      <div>
        <a href="{{ sources.github.url }}" class="inline-flex items-center text-gray-blue">
          <span class="mr-1 inline-block w-4">
            {{ sources.github.icon | safe }}
          </span>
          <span>{{ sources.github.text }}</span>
        </a>
      </div>
    {% endif %}
  </div>

  {{ body | safe }}
</div>
