<header class="py-4 relative z-10">
  <div class="container flex justify-between items-center">
    <span class="inline-block w-10">
      {% svg "seancdavis-logo" %}
    </span>

    {# --- Desktop Nav --- #}
    <ul class="items-center space-x-4 hidden lg:flex">
      {% for item in header_menu %}
        <li class="mb-0">
          <a href="{{ item.url }}" class="layout--header--desktop-link">{{ item.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>
