<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/seancdavis-logo.png">

    {# --- Stylesheet --- #}

    <link rel="stylesheet" href="/css/styles.css">

    {# --- SEO --- #}

    {% component "seo",
        defaults = seo_defaults,
        path = page.url,
        title = title,
        image = image,
        description = description,
        overrides = seo %}

    {# --- Imgix --- #}

    <meta property="ix:autoInit" content="false">
    <meta property="ix:host" content="seancdavis.imgix.net">
    <meta property="ix:useHttps" content="true">

    {# --- Shared JavaScript --- #}

    <script>
      function onInit(callback) {
        if (typeof App !== 'undefined')
          return callback()
        setTimeout(onInit, 250, callback)
      }
    </script>
  </head>

  <body class="font-serif {{ body_classes }}">
