<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/seancdavis-logo.png">

    {# --- Fonts --- #}

    {# <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+Pro:ital@0;1&display=swap" rel="stylesheet"> #}
    <link rel="preload" href="/fonts/DMSerifDisplay-Italic-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/DMSerifDisplay-Italic-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/DMSerifDisplay-Regular-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/DMSerifDisplay-Regular-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-LightItalic-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-LightItalic-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Italic-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Italic-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-BoldItalic-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-BoldItalic-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Light-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Light-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Regular-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Regular-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Bold-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/Lato-Bold-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-CyrillicExt.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-Cyrillic.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-Greek.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-Vietnamese.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-It-Latin.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-CyrillicExt.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-Cyrillic.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-Greek.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-Vietnamese.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-LatinExt.woff2" as="font">
    <link rel="preload" href="/fonts/SourceSerifPro-Regular-Latin.woff2" as="font">

    {# --- Stylesheet --- #}

    <link rel="stylesheet" href="/css/styles.css">

    {# --- SEO --- #}

    {% component "seo",
    defaults = seo_defaults,
    path = page.url,
    title = title,
    image = image,
    description = description,
    overrides = seo %}

    {# --- Imgix --- #}

    <meta property="ix:autoInit" content="false">
    <meta property="ix:host" content="seancdavis.imgix.net">
    <meta property="ix:useHttps" content="true">

    {# --- Google Analytics --- #}

    {% if env == 'production' %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54661520-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-54661520-1');
      </script>
    {% endif %}

    {# --- Shared JavaScript --- #}

    <script>
      function onInit(callback) {
        if (typeof App !== 'undefined') 
          return callback()
        setTimeout(onInit, 250, callback)
      }
    </script>
  </head>

  <body class="font-serif">
