<svg width="2400" height="1260" viewBox="0 0 2400 1260" fill="none" xmlns="http://www.w3.org/2000/svg">
  <style type="text/css">
    @font-face {
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local("DM Serif Display Regular"), local("DMSerifDisplay-Regular"),
        url("../../../src/assets/fonts/DMSerifDisplay-Regular.woff2") format("woff2");
    }

    :root {
      font-family: "DM Serif Display", "Times New Roman";
      font-size: 16px;
      text-align: center;
    }

    h1 {
      font-size: 9.25rem;
      font-weight: 100;
      margin: 0 auto 6rem auto;
      width: 90%;
    }

    .wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    .site-block {
      text-align: center;
    }

    .site-block-fill {
      background-color: #2260bf;
      color: #ffffff;
      font-size: 4rem;
      padding: 1.5rem 6rem;
    }
  </style>

  <g>
    <rect width="2400" height="1260" fill="#EAECED"/>
    <g opacity="0.2">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1351.61 -48.9455L1110.9 629.96L645.999 95.8509L1351.61 -48.9455Z" fill="#01A791"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2116.16 899.14L2535.22 1326.47L1966.9 1478.75L2116.16 899.14Z" fill="#2260BF"/>
      <circle cx="254" cy="207" r="282" fill="#EEA2BF"/>
      <circle cx="1347" cy="1011" r="274" fill="#9CE736"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2462.28 78.3277L2201.7 655.867C2159.62 749.164 2036.95 770.899 1964.04 697.996L1832.86 566.817C1673.78 407.734 1676.15 148.761 1840.85 -4.52611C1997.72 -150.549 2245.73 -138.227 2398.57 14.6128L2462.28 78.3277Z" fill="#FF6B00"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M244.241 1431.95L-34.4932 898.719C-79.528 812.59 -23.8591 708.2 73.3432 696.468L248.243 675.358C460.348 649.758 652.443 803.333 670.419 1016.24C687.557 1219.04 532.973 1397.1 329.192 1421.7L244.241 1431.95Z" fill="#2260BF"/>
    </g>
  </g>

  <foreignObject x="0" y="0" width="2400" height="1260" >
    <div xmlns="http://www.w3.org/1999/xhtml" class="wrapper">
      <h1>{{ title }}</h1>
      <div class="site-block">
        <div class="site-block-fill">
          seancdavis.com
        </div>
      </div>
    </div>
  </foreignObject>
</svg>
