<picture>
  {% for source in sources %}
    <source
      {% if source.media %}media="{{ source.media }}"{% endif %}
      {% if source.sizes %}sizes="{{ source.sizes }}"{% endif %}
      srcset="{{ source.srcset }}"
    >
  {% endfor %}
  <img src="{{ src }}" alt="">
</picture>
