---
layout: home
title: Hi, I'm Sean.
seo:
  image: /pages/seancdavis--meta--home.png
  description: "Hi, I'm Sean. I'm a tinkerer and a teacher. A developer. A sandwich lover. Most of the time I'm only pretending to know what I'm doing."
footer:
  hide_newsletter: true
featured_item: /posts/what-made-the-essence-of-jamstack-possible
---

{# --- Hero --- #}

{% set featured = collections.home.featured %}

<div class="layout--home--hero">
  <div class="container">
    <div class="grid md:grid-cols-2 gap-4 md:gap-8">
      <div>
        {% image path=featured.data.image, sm="576px" %}
      </div>
      <div>
        {% if featured.data.topics.length > 0 %}
          <div class="mb-4 text-sm">
            {% for topic in featured.data.topics %}
              {% topic_badge topic=topic, classes="mr-1" %}
            {% endfor %}
          </div>
        {% endif %}
        <h2 class="text-3xl mb-1">
          <a href="{{ featured.url }}" class="link-transition">
            {{ featured.data.title }}
          </a>
        </h2>
        {% if featured.data.description %}
          <p class="mb-6 text-lg">{{ featured.data.description }}</p>
        {% endif %}
        <div class="flex items-center">
        {% if featured.data.contributor %}
          {% contributor contributor=featured.data.contributor %}
          <div class="mx-2 text-gray-200">&bull;</div>
        {% endif %}
        <span class="block text-gray-blue text-sm">
          {{ featured.date.toLocaleDateString("en-US", { day: "2-digit", month: "short", year: "numeric" }) }}
        </span>
      </div>
      </div>
    </div>
  </div>
</div>

{# --- Recent --- #}

{% home_post_grid
    heading="Recent Posts",
    subheading="Veniam ullamco in deserunt pariatur fugiat.",
    link={ label: "All Posts", url: "/posts" },
    collection=collections.home.recent %}

{# --- JavaScript --- #}

{% home_post_grid
    heading="JavaScript",
    subheading="Veniam ullamco in deserunt pariatur fugiat.",
    link={ label: "All JavaScript", url: "/topics/javascript" },
    collection=collections.home.javascript %}

{# --- Spinneret CTA --- #}

{% newsletter_cta %}


{# --- Videos --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-blue w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Videos</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/videos" class="flex items-center">
        <span class="inline-block mr-1">All Videos</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-4 md:gap-6">
    {% for video in collections.home.videos | limit(4) %}
      {% content_card item=video, layout="compact" %}
    {% endfor %}
  </div>
</div>

{# --- Guest Posts --- #}

{% home_post_grid
    heading="Guest Posts",
    subheading="Veniam ullamco in deserunt pariatur fugiat.",
    link={ label: "All Contributors", url: "/contributors" },
    collection=collections.home.guest_posts %}


{# --- Contribute --- #}

<div class="bg-gray-800 text-white">
  <div class="container py-6 max-w-4xl text-center md:text-left">
    <div class="md:flex justify-between items-center">
      <div class="mb-4 md:mb-0">
        <h3 class="text-2xl md:text-3xl">Contribute section ...</h3>
        <p class="md:text-xl max-w-md mx-auto">
          Culpa irure officia cupidatat ad voluptate consectetur duis dolor est velit est eiusmod minim minim.
        </p>
      </div>
      <div>
        {% button url="mailto:hello@seancdavis.com", label="Email Me", theme="lime" %}
      </div>
    </div>
  </div>
</div>

{# --- Jamstack --- #}

{% home_post_grid
    heading="Jamstack",
    subheading="Veniam ullamco in deserunt pariatur fugiat.",
    link={ label: "All Jamstack", url: "/topics/jamstack" },
    collection=collections.home.jamstack %}

{# --- Reposts --- #}

{% home_post_grid
    heading="Reposts",
    subheading="Veniam ullamco in deserunt pariatur fugiat.",
    link={ label: "TODO", url: "/" },
    collection=collections.home.reposts %}
