---
layout: home
title: Hi, I'm Sean.
seo:
  image: /pages/seancdavis--meta--home.png
  description: "Hi, I'm Sean. I'm a tinkerer and a teacher. A developer. A sandwich lover. Most of the time I'm only pretending to know what I'm doing."
footer:
  hide_newsletter: true
---

{# --- Hero --- #}

<div class="layout--home--hero">
  Featured stuff goes here
</div>

{# --- Recent --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-green w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Recent Posts</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/posts" class="flex items-center">
        <span class="inline-block mr-1">All posts</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-10">
    <div>
      {% content_card item=collections.home.recent[0], layout="flat" %}
    </div>
    <div>
      <div class="grid gap-8 grid-cols-1">
        {% for post in collections.home.recent | limit(3, 1) %}
          {% content_card item=post, layout="compact" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# --- JavaScript --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-orange w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">JavaScript</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/topics/javascript" class="flex items-center">
        <span class="inline-block mr-1">All JavaScript</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-10">
    <div>
      {% content_card item=collections.home.javascript[0], layout="flat" %}
    </div>
    <div>
      <div class="grid gap-8 grid-cols-1">
        {% for post in collections.home.javascript | limit(3, 1) %}
          {% content_card item=post, layout="compact" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# --- Spinneret CTA --- #}

<div class="layout--home--newsletter text-white py-12 shadow-md rounded-sm bg-green-light relative z-10">
  <div class="container max-w-2xl text-center">
    <h2 class="text-3xl uppercase mb-2">The Spinneret</h2>
    <p class="max-w-md mx-auto">
      Sign up to receive one email every month with new articles, tools, and
      references I've discovered.
    </p>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/seancdavis29"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/seancdavis29', 'popupwindow')"
      class="embeddable-buttondown-form mb-4"
    >
      <input type="hidden" value="1" name="embed">

      <span class="sm:flex justify-center">
        <input
          type="email"
          name="email"
          id="bd-email"
          placeholder="Enter your email"
          aria-label="Email Address"
          required
          class="
            bg-transparent
            border-black
            border-2
            mb-2
            mr-2
            placeholder-gray-50
            py-1
            px-2
            text-white
            w-64
            sm:mb-0
          "
        >
        <input
          type="submit"
          value="Subscribe"
          class="
            bg-black
            border-2
            border-black
            cursor-pointer
            duration-300
            font-sans
            inline-block
            px-6
            py-1
            relative
            text-sm
            text-white
            transition-all
            uppercase
            hover:bg-gray-800"
          >
      </span>
    </form>

    <p class="text-sm">
      <a href="/topics/spinneret" class="underline text-black">
        Read past issues.
      </a>
    </p>
  </div>
</div>


{# --- Videos --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-blue w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Videos</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/videos" class="flex items-center">
        <span class="inline-block mr-1">All Videos</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-4 md:gap-6">
    {% for video in collections.home.videos | limit(4) %}
      {% content_card item=video, layout="compact" %}
    {% endfor %}
  </div>
</div>

{# --- Guest Posts --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-pink w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Guest Posts</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/contributors" class="flex items-center">
        <span class="inline-block mr-1">All Contributors</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-10">
    <div>
      {% content_card item=collections.home.guest_posts[0], layout="flat" %}
    </div>
    <div>
      <div class="grid gap-8 grid-cols-1">
        {% for post in collections.home.guest_posts | limit(3, 1) %}
          {% content_card item=post, layout="compact" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{# --- Contribute --- #}

<div class="bg-gray-800 text-white">
  <div class="container py-6 max-w-4xl text-center md:text-left">
    <div class="md:flex justify-between items-center">
      <div class="mb-4 md:mb-0">
        <h3 class="text-2xl md:text-3xl">Contribute section ...</h3>
        <p class="md:text-xl max-w-md mx-auto">
          Culpa irure officia cupidatat ad voluptate consectetur duis dolor est velit est eiusmod minim minim.
        </p>
      </div>
      <div>
        {% button url="mailto:hello@seancdavis.com", label="Email Me", theme="lime" %}
      </div>
    </div>
  </div>
</div>

{# --- Jamstack --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-lime w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Jamstack</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/topics/jamstack" class="flex items-center">
        <span class="inline-block mr-1">All Jamstack</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-10">
    <div>
      {% content_card item=collections.home.javascript[0], layout="flat" %}
    </div>
    <div>
      <div class="grid gap-8 grid-cols-1">
        {% for post in collections.home.javascript | limit(3, 1) %}
          {% content_card item=post, layout="compact" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# --- Reposts --- #}

<div class="container py-12">
  <div class="flex justify-between mb-8">
    <div>
      <div class="h-1 bg-yellow w-12 mb-2"></div>
      <h2 class="text-4xl mb-1">Reposts</h2>
      <p class="italic">Veniam ullamco in deserunt pariatur fugiat.</p>
    </div>
    <div>
      <a href="/topics/jamstack" class="flex items-center">
        <span class="inline-block mr-1">TODO</span>
        <span class="h-4 w-4 inline-block">{% svg "arrow-right" %}</span>
      </a>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 md:gap-10">
    <div>
      {% content_card item=collections.home.reposts[0], layout="flat" %}
    </div>
    <div>
      <div class="grid gap-8 grid-cols-1">
        {% for post in collections.home.reposts | limit(3, 1) %}
          {% content_card item=post, layout="compact" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
