---
layout: search
title: Search
---

<div class="container py-24" id="search-page-content">
  <div class="mb-8">
    <h1 class="text-4xl">Search</h1>
    <p>Enter a query in the search box to find content on the site.</p>
  </div>
  <div class="mb-12" id="search-box"></div>
  <div id="hits"></div>
</div>
