---
layout: search
title: Search
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css"
  integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">

<div class="py-24" id="search-page-content">
  <div id="search-box"></div>
  <div id="hits"></div>
</div>
