<a href="https://app.netlify.com/start/deploy?repository=https://github.com/{{ repo }}" target="_blank" rel="noopener noreferrer" class="component--dtn-button">
  <img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify"/>
</a>
