<a href="{{ url }}" class="shadow-sm relative max-w-xl block {{ classes }}">
  <div class="post-card--image-wrapper">
    {{ image | safe }}
  </div>
  <div class="absolute h-full w-full top-0 left-0 flex items-center justify-center">
    <div class="bg-white rounded-full h-24 w-24 p-5 text-gray-400 border-gray-200 border-4 opacity-95">
      {{ playIcon | safe }}
    </div>
  </div>
</a>
