<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Eleventy Components Example</title>
  </head>
  <body>
    <h1>Eleventy Components Example</h1>

    <p>
      {% set button = {
        label: "The Quick and Verbose Way",
        url: "/"
      } %}
      {% include "button.njk" %}
    </p>

    <p>
      {% button label = "The Shortcode Way", url = "/" %}
    </p>
  </body>
</html>
