---
permalink: "/blog/manipulate-iframe-content/demo/iframe.html"
---

{% set body_classes = "bg-gray" %}

{% include "layout/head.njk" %}

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<p>
  <strong>Message:</strong>
  <span id="my-message"></span>
</p>

<script>
  window.addEventListener('message', function(event) {
    if (event.origin === window.location.origin) {
      $('#my-message').text(event.data);
    }
  }, false);
</script>

{% include "layout/foot.njk" %}
