<a href="{{ url }}" class="flex items-center {{ classes }}">
  <span class="inline-block h-10 w-10 rounded-full overflow-hidden mr-2">
    {{ image | safe }}
  </span>
  <span>
    {{ name }}
  </span>
</a>
