---
layout: layout
title: Maintenance!
---

<div class="flex items-center justify-center h-screen">
  <div class="p-3 sm:p-0">
    <div class="w-16 mb-1">
      {% include "scd-monogram.svg" %}
    </div>
    <h1 class="text-4xl mb-6">Sean C Davis</h1>
    <p class="mb-1">I'm working on a new site.</p>
    <p class="mb-1">Yeah, this is actually a maintenance page.</p>
    <p class="mb-1">The old site was bad.</p>
    <p class="mb-1">Really bad.</p>
    <p class="mb-1">The new site will look better than this.</p>
    <p class="mb-1">I hope.</p>
    <p class="mb-1">In the meantime, I'm actively writing posts <a href="https://cobwwweb.com/" target="_blank">on my blog</a>.</p>
    <p>You can also <a href="https://twitter.com/seancdavis29" target="_blank">follow me on Twitter</a>.</p>
  </div>
</div>