---
title: Video Cards Playground
---

<div class="container py-12">

  <div class="mb-12">
    <h1 class="text-4xl mb-2">{{ title }}</h1>
    <p class="mb-0">Video cards render individual video objects in a number of different layouts.</p>
  </div>

  {# --- Expanded --- #}

  <div class="mb-12">
    <h2 class="text-2xl mb-1">Expanded (Default)</h2>
    <p class="max-w-xl">The default card is expanded (contains everything).</p>

    <div class="max-w-lg mx-auto">
      {# Using guest posts here so that we can show the contributor. #}
      {% for video in collections.videos | limit(1) %}
        {% video_card video=video %}
      {% endfor %}
    </div>
  </div>

  {# --- Horizontal --- #}

  <div class="mb-12">
    <h2 class="text-2xl mb-1">Horizontal</h2>
    <p class="max-w-xl">Puts the image to the left of the content and removes max height constraint.</p>

    <div class="max-w-2xl mx-auto">
      {# Using guest posts here so that we can show the contributor. #}
      {% for video in collections.videos | limit(1) %}
        {% video_card video=video, layout="horizontal" %}
      {% endfor %}
    </div>
  </div>

  {# --- Flat --- #}

  <div class="mb-12">
    <h2 class="text-2xl mb-1">Flat</h2>
    <p class="max-w-xl">
      Shadow, background color, and horizontal padding are removed from the expanded card. Flat cards are typically used on a white background.
    </p>

    <div class="max-w-lg mx-auto">
      {% for video in collections.videos | limit(1) %}
        {% video_card video=video, layout="flat" %}
      {% endfor %}
    </div>
  </div>

  {# --- Compact --- #}

  <div class="mb-12">
    <h2 class="text-2xl mb-1">Compact</h2>
    <p class="max-w-xl">Only shows the image, hiding the content.</p>

    <div class="max-w-lg mx-auto">
      {% for video in collections.videos | limit(1) %}
        {% video_card video=video, layout="compact" %}
      {% endfor %}
    </div>
  </div>

  {# --- Grid --- #}

  <div class="mb-12">
    <h2 class="text-2xl mb-1">Grid</h2>
    <p class="max-w-xl">Here is an example of a grid of compact cards.</p>

    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
      {% for video in collections.videos | limit(4) %}
        {% video_card video=video, layout="compact" %}
      {% endfor %}
    </div>
  </div>

</div>
