{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="container py-24">
  <div class="mb-8">
    <h1 class="text-4xl">{{ title }}</h1>
    <p>The is an about page ...</p>
  </div>

  <div>
    <h2>Timeline</h2>
    <p>Here is the timeline ...</p>

    {% set cls = cycler("left", "right") %}
    {% macro timelineItem(point) %}
      <h3 class="text-3xl mb-3 leading-none">{{ point.year }}</h3>
      {% for item in point.items %}
        <p class="mb-2">{% markdown %}{{ item }}{% endmarkdown %}</p>
      {% endfor %}
    {% endmacro %}

    <div class="layout--about--timeline">
      {% for point in timeline %}
        <div class="text-right pb-4 max-w-xl">
          {% if cls.next() === 'left' %}
            {{ timelineItem(point) }}
          {% endif %}
        </div>
        <div>
          <div class="rounded-full border-4 border-green bg-white w-6 h-6 mx-auto"></div>
          <div class="w-1 h-full bg-green mx-auto"></div>
        </div>
        <div class="pb-4 max-w-xl">
          {% if cls.current === 'right' %}
            {{ timelineItem(point) }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
