{% set body_classes = "bg-gray-100" %}

{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="container max-w-4xl">

  {# --- Header --- #}

  <div class="pt-24 mb-24">
    <h1 class="text-4xl">{{ title }}</h1>
    {% if description %}
      <div class="text-2xl">{% markdown %}{{ description }}{% endmarkdown %}</div>
    {% endif %}
  </div>

  {# --- Feed --- #}

  <div class="mb-24">
    <div class="grid gap-6 grid-cols-1 max-w-xl mb-8">
      {% for item in pagination.items %}
        {% content_card item=item %}
      {% endfor %}
    </div>

    {% if pagination.href.next or pagination.href.previous %}
      <div class="flex justify-between max-w-xl">
        <span class="block">
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">&lt; Newer</a>
          {% endif %}
        </span>
        <span class="block">
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Older &gt;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
