{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="layout--home">
  {# --- Featured --- #}

  {% set featured = collections.home.featured %}

  <div class="layout--home--hero">
    <div class="container">
      <div class="grid gap-4 md:grid-cols-2 md:gap-8">
        <div>
          {% image path=featured.data.image, sm="576px" %}
        </div>
        <div>
          {% if featured.data.topics.length > 0 %}
            <div class="mb-4 text-sm home--hero--topics">
              {% for topic in featured.data.topics %}
                {% topic_badge topic=topic, classes="mr-1" %}
              {% endfor %}
            </div>
          {% endif %}
          <h2 class="mb-1 text-3xl">
            <a href="{{ featured.url }}" class="link-transition">
              {{ featured.data.title }}
            </a>
          </h2>
          {% if featured.data.description %}
            <p class="mb-6 text-lg">{{ featured.data.description }}</p>
          {% endif %}
          {% if featured.data.contributor %}
            {% contributor contributor=featured.data.contributor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {# --- Recent --- #}

  {% home_post_grid
      heading=sections.recent.heading,
      subheading=sections.recent.body,
      link=sections.recent.action,
      collection=collections.home.recent %}

  {# --- JavaScript --- #}

  {% home_post_grid
      heading=sections.javascript.heading,
      subheading=sections.javascript.body,
      link=sections.javascript.action,
      collection=collections.home.javascript %}

  {# --- Spinneret CTA --- #}

  {% newsletter_cta %}


  {# --- Videos --- #}

  <div class="container py-12">
    <div class="flex justify-between mb-8">
      <div>
        <div class="w-12 h-1 mb-2 bg-blue"></div>
        <h2 class="mb-1 text-4xl">{{ sections.videos.heading }}</h2>
        <p class="italic">{{ sections.videos.body }}</p>
      </div>
      <div>
        <a href="{{ sections.videos.action.url }}" class="flex items-center">
          <span class="inline-block mr-1">{{ sections.videos.action.label }}</span>
          <span class="inline-block w-4 h-4">{% svg "arrow-right" %}</span>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-4 md:gap-6">
      {% for video in featured_videos %}
        <a
          href="https://www.youtube.com/watch?v={{ video.id }}"
          class="relative block bg-center bg-no-repeat bg-cover"
          style="padding-bottom: 56%; background-image: url('https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg');">
          <div class="absolute top-0 left-0 flex items-center justify-center w-full h-full">
            <div class="w-24 h-24 p-5 text-gray-400 bg-white border-4 border-gray-200 rounded-full opacity-95">
              {% svg "play" %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  {# --- Guest Posts --- #}

  {% home_post_grid
      heading=sections.guest_posts.heading,
      subheading=sections.guest_posts.body,
      link=sections.guest_posts.action,
      collection=collections.home.guest_posts %}


  {# --- Contribute --- #}

  <div class="text-white bg-gray-800">
    <div class="container max-w-4xl py-6 text-center md:text-left">
      <div class="items-center justify-between md:flex">
        <div class="mb-4 md:mb-0">
          <h3 class="text-2xl md:text-3xl">{{ sections.contribute_cta.heading }}</h3>
          <p class="max-w-md mx-auto md:text-xl">
            {{ sections.contribute_cta.body }}
          </p>
        </div>
        <div>
          {% button
              url=sections.contribute_cta.action.url,
              label=sections.contribute_cta.action.label,
              theme="lime" %}
        </div>
      </div>
    </div>
  </div>

  {# --- Jamstack --- #}

  {% home_post_grid
      heading=sections.jamstack.heading,
      subheading=sections.jamstack.body,
      link=sections.jamstack.action,
      collection=collections.home.jamstack %}

  {# --- Reposts --- #}

  {% home_post_grid
      heading=sections.reposts.heading,
      subheading=sections.reposts.body,
      link=sections.reposts.action,
      collection=collections.home.reposts %}
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
