{% set body_classes = "bg-gray-100" %}

{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="pt-36 pb-16 bg-white mt-[-5rem]">
  <div class="container max-w-4xl">
    <h1 class="text-4xl">{{ title }}</h1>
    {% if description %}
      <p class="text-2xl mb-3">{{ description }}</p>
    {% endif %}
    {% if topics.length > 0 %}
      <div class="text-sm">
        {% for topic in topics %}
          {% topic_badge topic=topic, classes="mr-1" %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<div class="layout--page--content pt-12 pb-24 mb-0">
  <div class="container max-w-4xl">
    <div class="max-w-xl text-lg mb-6">
      {{ content | safe }}
    </div>
    {% if source_url %}
      <div>
        {% button
            url=source_url,
            label="News Source",
            theme="green",
            size="sm",
            icon={position: "right", name: "external-link"} %}
      </div>
    {% endif %}
  </div>
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
