{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="py-12">
  <div class="layout--post--grid mb-12">
    {# --- Left Column --- #}
    <div><!-- --></div>

    {# --- Middle Column --- #}
    <div>
      <div class="layout--post--body text-lg max-w-3xl mx-auto bg-white shadow-sm">
        {% if image %}
          {% image path=image, lg="832px" %}
        {% endif %}

        <div class="p-8">
          <div class="text-center">
            {% if topics.length > 0 %}
              <div class="mb-4 text-sm">
                {% for topic in topics %}
                  {% topic_badge topic=topic, classes="mr-1" %}
                {% endfor %}
              </div>
            {% endif %}
            <h1 class="text-4xl leading-snug mb-4 max-w-lg mx-auto">
              {{ title }}
            </h1>
            {% if contributor %}
              {% contributor contributor=contributor, classes="mb-4 justify-center" %}
            {% endif %}
            {% if description %}
              <p class="text-xl mb-0 text-gray-700 max-w-2xl mx-auto">
                {{ description }}
              </p>
            {% endif %}
            {% if canonical_url %}
              {% repost_note url=canonical_url  %}
            {% endif %}
          </div>

          <div class="my-12 h-1 bg-gray-200 w-24 mx-auto"></div>

          <div class="layout--post--content">
            {{ content | safe }}
          </div>
        </div>
      </div>
    </div>

    {# --- Right Column --- #}
    <div>
      <div class="flex flex-col items-start sticky" style="top: 1rem;">
        {% post_share_icons
              base_url=seo_defaults.base_url,
              page_url=page.url,
              title=title,
              classes="mb-3 bg-white shadow-sm" %}
      </div>
    </div>
  </div>

  {# --- Connect --- #}

  <div class="container text-center py-8">
    <h3 class="subheading">Let's Connect</h3>
    {% social_link
        link={ icon: "twitter", url: "https://twitter.com/messages/compose?recipient_id=23583938" },
        classes="mx-3 bg-white shadow-sm" %}
    {% social_link
        link={ icon:"linkedin", url: "https://www.linkedin.com/in/seancdavis29/" },
        classes="mx-3 bg-white shadow-sm" %}
    {% social_link
        link={ icon:"email", url: "mailto:hello@seancdavis.com" },
        classes="mx-3 bg-white shadow-sm" %}
  </div>

  {# --- Related Articles --- #}

  {% if (related_posts.length !== 0) and (env !== "test" or related_posts.length > 0) %}
    <div class="max-w-md md:max-w-xl lg:max-w-7xl mx-auto px-4 py-12">
      <h3 class="subheading">Keep Reading</h3>

      <div class="grid gap-4 grid-cols-1 lg:grid-cols-3">
        {% for post in collections.posts | get_related_posts(related_posts, tags, page.fileSlug, content) %}
          {% post_card post=post, wrapperClasses="bg-white shadow-sm md:layout-horizontal lg:layout-expanded" %}
        {% endfor %}
      </div>

    </div>
  {% endif %}
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
