.layout--post {
  @apply bg-gray-100;
}

/* ---------------------------------------- | Grid */

.layout--post--grid {
  > div:first-child,
  > div:last-child {
    display: none;
  }
}

@media (min-width: 60rem) {
  .layout--post--grid {
    @apply gap-4
    grid;

    grid-template-columns: 1fr fit-content(48rem) 1fr;

    > div:first-child,
    > div:last-child {
      display: block;
    }
  }
}

/* ---------------------------------------- | Content */

.layout--post--content {
  *:first-child {
    @apply mt-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-1;

    code {
      font-size: 80%;
    }

    + .component--post-image,
    + .component--video-tutorial {
      @apply mt-0;
    }
  }

  h2 {
    @apply mt-10
      text-3xl;
  }

  h3 {
    @apply mt-6
      text-2xl;
  }

  h4 {
    @apply mt-4
      text-xl;
  }

  h5 {
    @apply mt-2
      text-lg;
  }

  a {
    border-bottom: 1px dotted var(--color-green);

    &:hover {
      @apply border-solid;
    }
  }

  code {
    @apply break-all
      inline;
  }

  iframe {
    @apply w-full;
  }

  /* --- Lists --- */

  ul,
  ol {
    @apply mb-6;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply mb-2;

    ul {
      @apply mt-2;

      &:last-child {
        @apply mb-0;
      }
    }
  }

  /* --- Images --- */
  .component--post-image {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  /* --- Videos --- */
  .component--video-tutorial {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  /* --- Code Blocks --- */
  pre {
    @apply my-6
      px-8
      py-6;

    margin-left: -2rem;
    margin-right: -2rem;

    &:not([class*="language-"]) {
      background-color: var(--color-code-block-bg);

      > code {
        @apply text-white;
      }
    }

    > code {
      @apply bg-transparent
        inline-block
        p-0
        whitespace-pre-wrap;

      /* Fits 81 characters on the line at max-w-3xl */
      font-size: 0.85rem;
      line-height: 1.666;
    }

    mark {
      background-color: var(--color-blue-a50);
      color: inherit;
      margin-left: -1.25rem;

      &:before {
        content: "+ ";
      }
    }

    /* This is a class used by Prism and Tailwind. This overrides the Tailwind
    defaults. */
    .table {
      @apply inline-block;
    }

    & + .filename {
      margin-top: -1.5rem;
    }
  }

  .filename {
    @apply font-mono
      mb-0
      mt-6
      px-4
      py-2
      text-right
      text-sm
      text-black;

    margin-left: -2rem;
    margin-right: -2rem;

    background-color: var(--color-code-block-bg);
    margin-left: -2rem;
    margin-right: -2rem;

    > code {
      @apply bg-transparent
        block
        opacity-50
        p-0
        text-sm
        text-white;
    }

    & + pre {
      @apply mt-0
        pt-4;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  /* --- Callouts --- */

  .component--callout {
    margin-left: -2rem;
    margin-right: -2rem;

    .component--post-image {
      @apply mx-0;
    }
  }

  pre + .component--callout,
  .component--post-image + .component--callout,
  .component--callout + .filename,
  .component--callout + pre,
  .component--callout + .component--callout {
    margin-top: -1.5rem;
  }

  /* --- Block Quotes --- */
  blockquote {
    @apply my-6
      px-12;

    margin-left: -2rem;
    margin-right: -2rem;

    > *:last-child {
      @apply mb-0;
    }

    code {
      @apply bg-gray-800
        text-gray-100;
    }
  }
}

@screen md {
  .layout--post--content {
    pre {
      code {
        @apply block
          max-w-3xl
          mx-auto;
      }
    }

    .filename > code {
      @apply max-w-2xl
        mx-auto;
    }
  }
}
