{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="py-12">
  <div class="mb-12 layout--post--grid">
    {# --- Left Column --- #}
    <div>
      <!-- -->
    </div>

    {# --- Middle Column --- #}
    <div>
      <div class="max-w-3xl mx-auto text-lg bg-white shadow-sm layout--post--body">
        {% if image %}
          {% image path = image,
          lg = "832px" %}
        {% endif %}

        <div class="p-8">
          <div class="text-center">
            {% if topics.length > 0 %}
              <div class="mb-4 text-sm">
                {% for topic in topics %}
                  {% topic_badge topic = topic,
                  classes = "mr-1" %}
                {% endfor %}
              </div>
            {% endif %}
            <h1 class="max-w-lg mx-auto mb-4 text-4xl leading-snug">
              {{ title }}
            </h1>
            {% if contributor %}
              {% contributor contributor=contributor, classes="mb-4 justify-center" %}
            {% endif %}
            {% if description %}
              <p class="max-w-2xl mx-auto mb-0 text-xl text-gray-700">
                {{ description }}
              </p>
            {% endif %}
            {% if canonical_url %}
              {% repost_note url = canonical_url %}
            {% endif %}
          </div>

          <div class="w-24 h-1 mx-auto my-12 bg-gray-200"></div>

          <div class="layout--post--content">
            {{ content | safe }}
            {% if ai %}
              <hr>
              <p>
                <em>
                  <strong>Disclosure:</strong>
                  I used AI to generate an initial draft of this post from an outline I created, following specific rules based on my writing history and style. I manually edited the draft to ensure it's true to my voice and delivers my intended message.
                </em>
              </p>
              <p>
                <em>
                  The source content for this site is open and publicly available
                  <a href="https://github.com/seancdavis/seancdavis-com" target="_blank" rel="noopener noreferrer">on GitHub</a>. I use individual commits to show the changes I've made to the generated draft.
                </em>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {# --- Right Column --- #}
    <div>
      <div class="sticky flex flex-col items-start" style="top: 1rem;">
        {% post_share_icons
              base_url=seo_defaults.base_url,
              page_url=page.url,
              title=title,
              classes="mb-3 bg-white shadow-sm" %}
      </div>
    </div>
  </div>

  {# --- Connect --- #}

  <div class="container py-8 text-center">
    <h3 class="subheading">Let's Connect</h3>
    {% social_link
        link={ icon:"linkedin", url: "https://www.linkedin.com/in/seancdavis29/" },
        classes="mx-3 bg-white shadow-sm" %}
    {% social_link
        link={ icon:"email", url: "mailto:hello@seancdavis.com" },
        classes="mx-3 bg-white shadow-sm" %}
  </div>

  {# --- Related Articles --- #}

  {% if (related_posts.length !== 0) and (env !== "test" or related_posts.length > 0) %}
    <div class="max-w-md px-4 py-12 mx-auto md:max-w-xl lg:max-w-7xl">
      <h3 class="subheading">Keep Reading</h3>

      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        {% for post in collections.posts | get_related_posts(related_posts, tags, page.fileSlug, content) %}
          {% post_card post=post, wrapperClasses="bg-white shadow-sm md:layout-horizontal lg:layout-expanded" %}
        {% endfor %}
      </div>

    </div>
  {% endif %}
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
