---
layout: blank
permalink: "topics/{{ page.fileSlug }}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="container max-w-4xl">

  {# --- Header --- #}

  <div class="pt-24 mb-24">
    <h1 class="text-4xl">{{ title }}</h1>
    {% if content %}
      <div class="text-2xl">{{ content | safe }}</div>
    {% endif %}
  </div>

  {# --- Posts --- #}

  <div class="mb-24">
    <div class="grid gap-6 grid-cols-1 max-w-xl">
      {% for item in items %}
        {% post_card post=item %}
      {% endfor %}
    </div>

    {% if pagination.href.next or pagination.href.previous %}
      <div class="flex justify-between max-w-xl">
        <span class="block">
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">&lt; Newer</a>
          {% endif %}
        </span>
        <span class="block">
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Older &gt;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div>
