{% include "layout/head.njk" %}
{% include "layout/header.njk" %}

<div class="py-24 mb-0">
  <div class="container max-w-4xl mb-8">
    {% youtube_embed id=youtube_id, title=title, classes="mb-3" %}
    {% if topics.length > 0 %}
      <div class="text-sm">
        {% for topic in topics %}
          {% topic_badge topic=topic, classes="mr-1" %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="container max-w-xl text-lg">
    <h1 class="text-3xl mb-3">{{ title }}</h1>
    <div class="layout--video--content">
      {{ content | safe }}
    </div>
  </div>
</div>

{% include "layout/footer.njk" %}
{% include "layout/foot.njk" %}
