<blockquote
  class="component--codepen codepen"
  data-height="{{ height }}"
  data-theme-id="dark"
  data-default-tab="html,result"
  data-user="{{ user }}"
  data-slug-hash="{{ id }}"
  data-preview="true"
  data-pen-title="{{ title }}">
  <span>
    See the Pen
    <a href="https://codepen.io/{{ user }}/pen/{{ id }}">
      {{ title }}
    </a>
    by
    <a href="https://codepen.io/{{ user }}">@{{ user }}</a>
    on
    <a href="https://codepen.io">CodePen</a>
    .
  </span>
</blockquote>
