<div id="component--alert" class="p-6 bg-blue text-white fixed shadow-md ml-4">
  <div class="component--alert--grid grid gap-6">
    <p class="mb-0 max-w-sm" data-alert="text">{{ text }}</p>
    <button class="w-4 " data-alert="close">
      {{ closeIcon | safe }}
      <span class="visible-hidden">close</span>
    </button>
  </div>
</div>
