<canvas id="particles-canvas" class="top-0 left-0 absolute" data-count="{{ count }}" data-images="{{ images }}"></canvas>

<script>
  onInit(function () {
    App
      .Particles
      .init()
  })
</script>
