<a href="{{ url }}" class="
    bg-{{ bgColor }}
    duration-300
    font-sans
    hover:bg-{{ bgColor }}-dark
    inline-block
    px-8
    py-3
    text-sm
    text-{{ textColor }}
    transition-all
    uppercase
  ">
  {{ label }}
</a>